:root {
  --full-flex: 0 0 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: lightblue;
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}

.main-header {
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  padding: 60px;
  color: #fff;
  background-color: darkgrey;
}

.main-header div ul {
  list-style-type: none;
}

.main-header div ul li {
  display: inline-block;
  margin-left: 25px;
}

#banner {
  display: flex;
  flex: var(--full-flex);
}

#banner img{
  flex: var(--full-flex);
}

.card {
  display: flex;
  flex-flow: wrap;
  margin: 20px;
}

.title {
  flex: 0 0 20%;
  border-style: solid;
  border-color: darkgreen;
  border: 5px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 80%;
  border-style: solid;
  border-color: darkgreen;
  border-width: 0px 0px 0px 3px;
  padding: 5px;
}

.content #main-project {
  flex: var(--full-flex);
}

.content #main-project::after {
  content: 'Web Agency Website';
  background-color: aquamarine;
  color: white;
  position: relative;
  bottom: 20px;
}

.content #main-project img{
  flex: var(--full-flex);
  max-width: 100%;
  object-fit: cover;
}

.content .sub-project {
  flex: 0 0 40%;
}

.content .sub-project img {
  flex: 0 0 40%;
}

#contact .content{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
}