* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: lightblue;
}

.main-header {
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  padding: 60px;
  color: #fff;
  background-color: darkgrey;
}

.main-header div ul {
  list-style-type: none;
}

.main-header div ul li {
  display: inline-block;
  margin-left: 25px;
}

#banner {
  display: flex;
  flex: 0 0 100%;
}

#banner img{
  flex: 0 0 100%;
}

.card {
  display: flex;
  flex-flow: wrap;
  margin: 20px;
}

.title {
  flex: 0 0 20%;
  border-style: solid;
  border-color: darkgreen;
  border: 5px;
}

.content {
  flex: 0 0 80%;
  border-style: solid;
  border-color: darkgreen;
  border-width: 0px 0px 0px 3px;
  padding: 5px;
}

#contact div ul {
  list-style-type: none;
}

#contact div ul li {
  display: inline-block;
  margin-left: 25px;
}