* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.main-header {
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  padding: 60px;
  background: #13293d;
  color: #fff;
}

.main-header div ul {
  list-style-type: none;
}

.main-header div ul li {
  display: inline-block;
  margin-left: 25px;
}

#contact {
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  padding: 60px;
  background: #13293d;
  color: #fff;
}

#contact div ul {
  list-style-type: none;
}

#contact div ul li {
  display: inline-block;
  margin-left: 25px;
}